In [5]:
import numpy as np
import pandas as pd

In [2]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [7]:
#hierarchical indexing

df = pd.DataFrame(np.random.randn(6, 2), hier_index, ["A", "B"])
df

             A         B
G1 1 -0.611218 -0.296780
   2 -0.613790  1.586463
   3  2.686295  0.489041
G2 1  0.200589  1.311499
   2  0.908461  0.513141
   3 -0.567174  0.871929

In [8]:
df.loc["G1"]

          A         B
1 -0.611218 -0.296780
2 -0.613790  1.586463
3  2.686295  0.489041

In [10]:
df.loc["G1"].loc[1]

A   -0.611218
B   -0.296780
Name: 1, dtype: float64

In [11]:
df.loc["G1"].loc[1]["B"]

-0.2967800464566877

In [13]:
df.index.names = ["Groups", "Num"]
df

                   A         B
Groups Num
G1     1   -0.611218 -0.296780
       2   -0.613790  1.586463
       3    2.686295  0.489041
G2     1    0.200589  1.311499
       2    0.908461  0.513141
       3   -0.567174  0.871929

In [14]:
df.xs("G1")

            A         B
Num
1   -0.611218 -0.296780
2   -0.613790  1.586463
3    2.686295  0.489041

In [15]:
df.xs(1, level="Num")

               A         B
Groups
G1     -0.611218 -0.296780
G2      0.200589  1.311499